.footer {
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 999;
}
.footer__social {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer__link {
    margin: 10px 0;
}
.footer__icon {
    width: 35px;
    height: 35px;
}