#fp-nav ul li .fp-tooltip {
    @include m-light;
    color: $white;
    opacity: .5;
    font-size: 16px;
    line-height: 20px;

}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
    background-color: $white;
    opacity: .5;
}